body {
  font-family: Plus Jakarta Sans;
}
.container {
  margin: 0 auto;
}
header {
  padding: 100px;
  text-align: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/john-williams1.jpeg);
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header h3 {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 5px;
  text-align: center;
}
header h1 {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 128px;
  line-height: 100%;
  letter-spacing: 0%;
}
header h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.learn-more {
  background-color: orange;
  padding: 5px 10px;
  border-radius: 10px;
}
.oscar-movies {
  display: flex;
  justify-content: center;
  background-color: red;
}
.soundtracks {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: red;
  text-align: center;
}
footer {
  font-family: poppins;
  text-align: center;
}
footer .footer-grid-container {
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
